/* ------------------------------- default --------------------------------- */

@font-face {
	font-family:  'OpenSans-Regular';
	src:          url('fontovi/OpenSans-Regular.ttf') format('truetype');
	font-weight:  normal;
    font-style:   normal;
    font-display: swap;
}

/* ------------------------------- naslovi --------------------------------- */

@font-face {
	font-family:  'OpenSans-Bold';
	src:          url('fontovi/OpenSans-Bold.ttf') format('truetype');
	font-weight:  normal;
    font-style:   normal;
    font-display: swap;
}

/* ------------------------------- monospace ------------------------------- */

@font-face {
	font-family:  'Inconsolata-Light';
	src:          url('fontovi/OpenSans-Regular.ttf') format('truetype');
	font-weight:  normal;
    font-style:   normal;
    font-display: swap;
}
